

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
}

.grey {
    background-color:  rgb(238, 235, 235);
    color: rgba(0, 0, 0, 0.856);
}

.black {
    background-color: rgba(0, 0, 0, 0.856);
    color: rgb(238, 235, 235);
}

.section-header {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
    padding: 20px;
    padding-top: 60px;
}

.section-title {
    color: #E87317;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 4px;
    margin-bottom: 20px;
}

.section-subtitle {
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 600;
}

.section-subtitle a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.856);
}

.section-subtitle a:hover {
    color: #E87317;
}

.section-content {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: auto;
    width: 80%;
    height: 100%;
}


.item-t {
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 600;
}

.item-p {
    font-size: 20px;
    letter-spacing: 0px;
}

.item {
    width: 30%;
    padding: 20px;
}

#first-item {
    padding-left: 0;
}


/* MEDIA QUERYS */ 
@media (max-width: 850px) { 
    .section-content {
        flex-direction: column;
    }

    .item {
        width: 100%;
    }

    #first-item {
        padding-left: 20px;
    }
}

@media (max-width: 500px) {  
    
    .p40 {
        padding-top: 0px;
    }

    .section-header {
        width: 85%;
        padding: 0;
        padding-top: 60px;
    }

    .section-content {
        width: 95%;
    }
    .section-title {
        font-size: 14px !important;
    }

    .section-subtitle {
        font-size: 26px !important;
    }

    .item-t {
        font-size: 20px;
    }

}